{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Weather Details for {{ city }}</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Temperature (Avg)</th>
            <th>Temperature (Max)</th>
            <th>Temperature (Min)</th>
            <th>Humidity (Avg)</th>
            <th>Wind Speed</th>
            <th>Sunrise</th>
            <th>Sunset</th>
        </tr>
        {% for data in weather_data %}
        <tr>
            <td>{{ data.date }}</td>
            <td>{{ data.temperature_avg }} °C</td>
            <td>{{ data.temperature_max }} °C</td>
            <td>{{ data.temperature_min }} °C</td>
            <td>{{ data.humidity_avg }}%</td>
            <td>{{ data.wind_speed_avg }} km/h <img src="/static/wind.png" alt="Wind Icon" class="icon"/></td>
            <td>{{ data.sunrise }} <img src="/static/sunrise.png" alt="Sunrise Icon" class="icon" /></td>
            <td>{{ data.sunset }} <img src="/static/sunset.png" alt="Sunset Icon" class="icon" /></td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>
